<a href="https://colab.research.google.com/github/abc123-ux/ML-projects/blob/main/naive_bayes_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
url="https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

In [ ]:
df.drop(['PassengerId','Name','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace= True)

In [ ]:
df.head()

   Survived  Pclass     Sex   Age  SibSp     Fare
0         0       3    male  22.0      1   7.2500
1         1       1  female  38.0      1  71.2833
2         1       3  female  26.0      0   7.9250
3         1       1  female  35.0      1  53.1000
4         0       3    male  35.0      0   8.0500

In [ ]:
target=df.Survived
inputs=df.drop('Survived',axis='columns')

In [ ]:
#converting text into numbers(for the ml models)
dummies=pd.get_dummies(inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [ ]:
inputs=pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age  SibSp     Fare  female  male
0       3    male  22.0      1   7.2500       0     1
1       1  female  38.0      1  71.2833       1     0
2       3  female  26.0      0   7.9250       1     0

In [ ]:
#dropping the original column
inputs.drop(['Sex'],axis='columns',inplace= True)

In [ ]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [ ]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [ ]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.head(6)

   Pclass        Age  SibSp     Fare  female  male
0       3  22.000000      1   7.2500       0     1
1       1  38.000000      1  71.2833       1     0
2       3  26.000000      0   7.9250       1     0
3       1  35.000000      1  53.1000       1     0
4       3  35.000000      0   8.0500       0     1
5       3  29.699118      0   8.4583       0     1

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(inputs,target,test_size=0.2)

In [ ]:
len(X_train)

712

In [ ]:
len(X_test)

179

In [ ]:
len(inputs)

891

In [ ]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [ ]:
model.fit(X_train,y_train)

GaussianNB()

In [ ]:
model.score(X_test,y_test)

0.8324022346368715

In [ ]:
y_test[:10]

546    1
287    0
326    0
83     0
426    1
805    0
887    1
513    1
784    0
837    0
Name: Survived, dtype: int64

In [ ]:
X_test

     Pclass        Age  SibSp     Fare  female  male
546       2  19.000000      1  26.0000       1     0
287       3  22.000000      0   7.8958       0     1
326       3  61.000000      0   6.2375       0     1
83        1  28.000000      0  47.1000       0     1
426       2  28.000000      1  26.0000       1     0
..      ...        ...    ...      ...     ...   ...
760       3  29.699118      0  14.5000       0     1
521       3  22.000000      0   7.8958       0     1
388       3  29.699118      0   7.7292       0     1
119       3   2.000000      4  31.2750       1     0
312       2  26.000000      1  26.0000       1     0

[179 rows x 6 columns]

In [ ]:
model.predict(X_test[:10])

array([1, 0, 0, 0, 1, 0, 1, 1, 0, 0])

In [ ]:
model.predict_proba(X_test[:10])#[didnt survive,survived]

array([[0.01606195, 0.98393805],
       [0.97894612, 0.02105388],
       [0.98072186, 0.01927814],
       [0.81589377, 0.18410623],
       [0.01912734, 0.98087266],
       [0.98185004, 0.01814996],
       [0.00395219, 0.99604781],
       [0.00266036, 0.99733964],
       [0.98004947, 0.01995053],
       [0.98156506, 0.01843494]])